{% ckan_extends %}

{% block content_action %}
    {% if dataset_type == 'agreement' %}
        {% if h.check_access('package_update', {'id':pkg.id }) %}
            <div class="actions">
                {% link_for _('Manage'), named_route='agreement.edit', id=pkg.name, class_='btn', icon='wrench' %}
            </div>
        {% endif%}
    {% else %}
        {{super()}}
    {% endif %}
{% endblock %}

{% block content_primary_nav %}
{% if dataset_type == 'agreement' %}
  {{ h.build_nav_icon('agreement.read', _('Agreement'), id=pkg.name) }}
  {{ h.build_nav_icon('agreement.activity', _('Activity Stream'), id=pkg.name) }}
{% else %}
  {{super()}}
{% endif%}
{% endblock %}

{% block secondary_content %}

{#
	{% if dataset_type == 'agreement' and c.userobj %}
		{% set missing_agreement = h.odm_agreement_validate_fields(pkg) %}
		{% if missing_agreement["package"] or missing_agreement["resources"] %}
			{% block inconsistency_disclaimer_agreement %}
				<h2 class="module-heading"><i class="icon-alert"></i> {{ _("Record metadata not complete!!") }}</h2>
				<div class="disclaimer">
					<p>{{ _('This agreement is missing some mandatory fields, please complete:') }}</p>
					<p>{{ h.odm_agreement_validate_fields(pkg) }}</p>
				</div>
			{% endblock %}
		{% endif %}
	{% endif %}
#}

	{{super()}}

{% endblock %}
